<nav class="navbar navbar-light" style="background-color: white;">
<a class="navbar-brand"href="{% url 'home' %}"><font color="#008b8b" >Home</font></a>
<a class="navbar-brand"href="{% url 'adminpage' %}"><font color="#008b8b" >Admin</font></a>
<a class="navbar-brand"href="{% url 'managerpage' %}"><font color="#008b8b" >Manager</font></a>
<a class="navbar-brand"href="{% url 'applicantpage' %}"><font color="#008b8b" >Applicant</font></a>
<a class="navbar-brand"href="{% url 'interviewerpage' %}"><font color="#008b8b" >Interviewer</font></a>
<a class="navbar-brand"href="{% url 'hr_headpage' %}"><font color="#008b8b" >Hr head</font></a>
</nav>
